src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservice/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://wservice/" schemaLocation="http://localhost:8787/?xsd=1"/>
</xsd:schema>
</types>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="ConversionEuroToDH">
<part name="parameters" element="tns:ConversionEuroToDH"/>
</message>
<message name="ConversionEuroToDHResponse">
<part name="parameters" element="tns:ConversionEuroToDHResponse"/>
</message>
<portType name="BanqueW">
<operation name="getComptes">
<input wsam:Action="http://wservice/BanqueW/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://wservice/BanqueW/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://wservice/BanqueW/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://wservice/BanqueW/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="ConversionEuroToDH">
<input wsam:Action="http://wservice/BanqueW/ConversionEuroToDHRequest" message="tns:ConversionEuroToDH"/>
<output wsam:Action="http://wservice/BanqueW/ConversionEuroToDHResponse" message="tns:ConversionEuroToDHResponse"/>
</operation>
</portType>
<binding name="BanqueWPortBinding" type="tns:BanqueW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueWPort" binding="tns:BanqueWPortBinding">
<soap:address location="http://localhost:8787/"/>
</port>
</service>
</definitions>